# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
# pip install setuptools wheel twine build
#pyyaml
#torch
#torchvision
ultralytics
onnx
numpy
#matplotlib
opencv-python
pillow
texttable
tqdm
#dominate
fastapi
uvicorn
